@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');


// VARIABLES

$color-grey: rgba(82,82,82,.7);
$color-grey-light: rgba(82,82,82,.2797);
$font-din: 'Nanum Gothic Coding', monospace;
$font-proxima: 'Montserrat', sans-serif;

// BASE 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 64.5%;

  body{
    font-family: sans-serif;
    font-weight: normal;
    line-height: 1.6;
    font-size: 1.6rem;
  }

}

//HEADER

.header {
  margin-top: 5rem;

  @media screen and (max-width: 580px){
    margin-top: 1rem;
  }

  &__nav-cart {
    margin-top: 1.2rem;
    position: relative;
  }
}

//TITLE

.title {
  font-family: $font-din;
  text-transform: uppercase;
  font-weight:600;
  text-align: center;

  &--header {
    @media screen and (max-width: 580px){
      font-size: 2.2rem;
    }
  }

  &--footer{
    font-size: 2rem;
    margin: 9.5rem 0 3rem;
    color: #222;

    @media screen and (max-width: 580px){
      margin: 7rem 0 3rem;
    }
  }
}


//NAV

.nav {
  display: flex;
  justify-content: center;
  
  &__list {
    display: flex;
  }

  &__item {
    list-style-type: none;
    font-family: $font-proxima;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.92rem;
    letter-spacing: 0.4px;
    word-spacing: 3px;

    &:not(:last-child){
      margin-right: 1.4rem;
    }
  }

  &__link {
    color: rgba(82, 82, 82, 0.65);
    text-decoration: none;

    &:hover{
      color: $color-grey;
      transition: all .3s;
    }
  }

  &__list:hover &__link:not(:hover){
    color: $color-grey-light;
    transition: all .3s;
  }

  &--social{
    margin-bottom: 4.5rem;

    .nav__link {
      color: #333;
      text-decoration: none;

      &:hover{
        color: #333;
        transition: all .3s;
      }
    }
    .nav__icon{
      font-size: 1.4rem;
    }
  }

  &--secondary{
    margin-bottom: 4.7rem;
  }


}

//CART

.cart {
  position: absolute;
  top: -3rem;
  right: 9.3rem;
  cursor: pointer;

  @media screen and (max-width: 950px){
    right: 6rem;
  }

  @media screen and (max-width: 660px){
    right: 3rem;
  }
    
  &__icon {
    fill: rgba(82, 82, 82, 0.6);  
    width: 2.9rem;
    height: 2.9rem;

    @media screen and (max-width: 580px){
      width: 2.6rem;
      height: 2.6rem;
    }

    &:hover {
      fill: #bbb; 
      transition: all .3s;
    }
  }
  
  &__item-count {
    display: inline-flex;
    color: white;
    width: 1.6rem;
    height: 1.68rem;
    border-radius: 100%;
    background-color: $color-grey;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    position: absolute;
    top: -4.1px;
    left: 2.2rem;
    font-family: $font-proxima;
    padding-left: 0.5px;
    padding-top: 0.1rem;

    @media screen and (max-width: 660px){
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

//FOOTER

.footer {
  text-align: center;

  &__signup-text{
    font-family: $font-proxima;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 3.2rem;
    letter-spacing: -0.1px;

    @media screen and (max-width: 580px){
      padding: 0 5rem;
    }
  }

}

.signup{
  margin-bottom: 4rem;



  &__field {
    border: 1px solid #ddd;
    padding: 1.5rem 1.5rem;
    width: 24rem;
    border-radius: 2px;
    color: rgba(29, 29, 29, 0.36);
    font-family: $font-proxima;
    font-size: 1.2rem;

    &:focus {
      outline: none;
    }

    &::placeholder{
      color: rgba(29, 29, 29, 0.36);
    }
  }
}

//LOVE

.love-text {
  color: #333;
  text-transform: uppercase;
  font-size: .92rem;
  font-weight: 600;
  font-family: $font-proxima;
  letter-spacing: 0.8px;
  margin-bottom: 6.5rem;

  @media screen and (max-width: 580px){
      margin-bottom: 4rem;
  }

  &__heart {
    color: #e25555
  }

  a {
   text-decoration: none;
   color: #333; 
   display: inline-block;
   border-bottom: 1px solid rgba(73, 43, 43, 0.65);
   line-height: 1.16;

   &:hover {
     color: rgba(82, 82, 82, 0.65);
     transition: all .2s;
     
   }
  }
}

// ROOTS PAGE STYLES


.banner {
  text-align: center;
  margin: 6rem 0 8rem;

  @media screen and (max-width: 580px){
    margin: 3.4rem 0 2.1rem;
  }
  
  &__img {
    width: 89%;
    height: auto;

    @media screen and (max-width: 580px){
      width: 87.5%;
    }
  }
}

.content {
  padding: 0 27.5vw;

  @media screen and (max-width: 580px){
    padding: 0 6.2vw;
  }
}

.page-text {
  font-size: 1.08rem;
  color: rgba(82,82,82,.65);
  letter-spacing: .1px;
  margin-bottom: 3rem;
  line-height: 2.4;
  font-family: $font-proxima;

  @media screen and (max-width: 580px){
    margin-bottom: 2.6rem;
    font-size: 1.04rem;

  }
}

.page-heading {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-family: $font-din;
  margin-bottom: 2.2rem;

  @media screen and (max-width: 580px){
    margin-bottom: 1.8rem;
    font-size: 2.1rem;
  }

}

.btn {
  padding: 1.4rem 3.8rem;
  border-radius: 3px;
  text-transform: uppercase;
  border: 2px solid #222;
  

  &:hover{
    background-color: #222;
    color: white;
    cursor: pointer;
    transition: all .2s;
  }
  &:focus {
    outline: none;
  }

  &--signup{
    font-size: 1.2rem;
    margin-left: .6rem;
  }

   &--history{
    font-size: 0.9rem;
    padding: 1.9rem 3.8rem;
    font-weight: 600;
    letter-spacing: 0.8px;
  }
}
