@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');


// VARIABLES

$color-grey: rgba(82,82,82,.7);
$color-grey-light: rgba(82,82,82,.2797);
$font-din: 'Nanum Gothic Coding', monospace;
$font-proxima: 'Montserrat', sans-serif;

// BASE 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 64.5%;

  body{
    font-family: sans-serif;
    font-weight: normal;
    line-height: 1.6;
    font-size: 1.6rem;
  }

}

//HEADER

.header {
  margin-top: 5rem;

  @media screen and (max-width: 580px){
    margin-top: 1rem;
  }

  &__nav-cart {
    margin-top: 1.2rem;
    position: relative;
  }
}

//TITLE

.title {
  font-family: $font-din;
  text-transform: uppercase;
  font-weight:600;
  text-align: center;

  &--header {
    @media screen and (max-width: 580px){
      font-size: 2.2rem;
    }
  }

  &--footer{
    font-size: 2rem;
    margin: 9.5rem 0 3rem;
    color: #222;

    @media screen and (max-width: 580px){
      margin: 7rem 0 3rem;
    }
  }
}


//NAV

.nav {
  display: flex;
  justify-content: center;
  
  &__list {
    display: flex;
  }

  &__item {
    list-style-type: none;
    font-family: $font-proxima;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.88rem;
    letter-spacing: 0.4px;
    word-spacing: 3px;

    &:not(:last-child){
      margin-right: 1.4rem;
    }
  }

  &__link {
    color: rgba(82, 82, 82, 0.65);
    text-decoration: none;

    &:hover{
      color: $color-grey;
      transition: all .3s;
    }
  }

  &__list:hover &__link:not(:hover){
    color: $color-grey-light;
    transition: all .3s;
  }

  &--social{
    margin-bottom: 4.5rem;

    .nav__link {
      color: #333;
      text-decoration: none;

      &:hover{
        color: #333;
        transition: all .3s;
      }
    }
    .nav__icon{
      font-size: 1.4rem;
    }
  }

  &--secondary{
    margin-bottom: 4.7rem;
  }


}

//CART

.cart {
  position: absolute;
  top: -3rem;
  right: 9.3rem;
  cursor: pointer;

  @media screen and (max-width: 950px){
    right: 6rem;
  }

  @media screen and (max-width: 660px){
    right: 3rem;
  }
    
  &__icon {
    fill: rgba(82, 82, 82, 0.67);  
    width: 2.9rem;
    height: 2.9rem;

    @media screen and (max-width: 580px){
      width: 2.6rem;
      height: 2.6rem;
    }

    &:hover {
      fill: #bbb; 
      transition: all .3s;
    }
  }
  
  &__item-count {
    display: inline-flex;
    color: white;
    min-width: 1.8rem;
    min-height: 1.88rem;
    border-radius: 100%;
    background-color: $color-grey;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    position: absolute;
    top: -4.1px;
    left: 2.2rem;
    font-family: $font-proxima;
    padding-left: 0.5px;
    padding-top: 0.1rem;

    @media screen and (max-width: 660px){
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

//FOOTER

.footer {
  text-align: center;

  &__signup-text{
    font-family: $font-proxima;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 3.2rem;
    letter-spacing: -0.1px;

    @media screen and (max-width: 580px){
      padding: 0 5rem;
    }
  }

}

.signup{
  margin-bottom: 4rem;



  &__field {
    border: 1px solid #ddd;
    padding: 1.5rem 1.5rem;
    width: 24rem;
    border-radius: 2px;
    color: rgba(29, 29, 29, 0.36);
    font-family: $font-proxima;
    font-size: 1.2rem;

    &:focus {
      outline: none;
    }

    &::placeholder{
      color: rgba(29, 29, 29, 0.36);
    }
  }
}

//LOVE

.love-text {
  color: #333;
  text-transform: uppercase;
  font-size: .92rem;
  font-weight: 600;
  font-family: $font-proxima;
  letter-spacing: 0.8px;
  margin-bottom: 6.5rem;

  @media screen and (max-width: 580px){
      margin-bottom: 4rem;
  }

  &__heart {
    color: #e25555
  }

  a {
   text-decoration: none;
   color: #333; 
   display: inline-block;
   border-bottom: 1px solid rgba(73, 43, 43, 0.65);
   line-height: 1.16;

   &:hover {
     color: rgba(82, 82, 82, 0.65);
     transition: all .2s;
     
   }
  }
}

.center{
  text-align: center;
}

// ROOTS PAGE 


.banner {
  text-align: center;
  margin: 6rem 0 8rem;

  @media screen and (max-width: 580px){
    margin: 3.4rem 0 2.1rem;
  }
  
  &__img {
    width: 89%;
    height: auto;

    @media screen and (max-width: 580px){
      width: 87.5%;
    }
  }
}

.content {
  padding: 0 27.5vw;

  @media screen and (max-width: 580px){
    padding: 0 6.2vw;
  }
}

.page-text {
  font-size: 1.08rem;
  color: rgba(82,82,82,.65);
  letter-spacing: .1px;
  margin-bottom: 3rem;
  line-height: 2.4;
  font-family: $font-proxima;

  @media screen and (max-width: 580px){
    margin-bottom: 2.6rem;
    font-size: 1.04rem;
  }

  &--contact {
    margin-bottom: 2.2rem;
    color: rgba(82,82,82,.6);
  }
}

.page-heading {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-family: $font-din;
  margin-bottom: 2.2rem;

  @media screen and (max-width: 580px){
    margin-bottom: 1.8rem;
    font-size: 2.1rem;
  }

  &--contact{
    margin-top: 12rem;
    margin-bottom: 1.6rem;

    @media screen and (max-width: 580px){
      margin-top: 4rem;
    }
  }

}

.btn {
  padding: 1.4rem 3.8rem;
  border-radius: 3px;
  text-transform: uppercase;
  border: 2px solid #222;
  

  &:hover{
    background-color: #222;
    color: white;
    cursor: pointer;
    transition: all .2s;
  }
  &:focus {
    outline: none;
  }

  &--signup{
    font-size: 1.2rem;
    margin-left: .6rem;
  }

   &--history{
    font-size: 0.9rem;
    padding: 1.9rem 3.8rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #222;
    text-decoration: none;
  }

  &--submit{
    padding: 1.2rem 3.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2.8rem;
  }
}

//CONTACT PAGE

.form {
  color: #ccc;
  
  &__name{
    display: flex;
    
    .form__control {
      flex-grow: 1;

      &:not(:last-child){
        margin-right: 1rem;
      }
    }
  }
  
  &__control {
    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }

  &__label {
    display: block;
    font-size: 1.05rem;
    color: rgba(82,82,82,.65);
    letter-spacing: .1px;
    margin-bottom: 0;
    line-height: 2.4;
    font-family: $font-proxima;
  }

  &__required {
    display: inline-block;
    margin-left: .4rem;
  }

  &__helper-text {
    display: block;
    font-size: 1rem;
    color: rgba(82,82,82,.65);
    letter-spacing: .1px;
    margin-bottom: 0;
    line-height: 2.4;
    font-family: $font-proxima;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fafafa;;
    border-radius: 2px;
    padding: 1.1rem;
    font-family: $font-proxima;
    font-weight: 500;
    font-size: 1.2rem;

    &:focus {
      outline: none;
    }
  }

  &__textarea{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fafafa;;
    border-radius: 2px;
    padding: 1.1rem;
    font-family: $font-proxima;
    font-weight: 500;
    font-size: 1.2rem;

    
    &:focus {
      outline: none;
    }
  }
}


// SHOP VIEW

.banner-shop {
  display: flex;
  padding: 0 3rem;
  margin: 0 auto;
  margin-top: 7.5rem;

  @media screen and (max-width: 580px){
    flex-direction: column;
    margin-top: 4rem;
    padding: 0 2.6rem;
  }

  &__left {
    margin-right: 2rem;
    width: 66.67%;
   
    @media screen and (max-width: 580px){
      width: 100%;
      margin-bottom: 2rem;
      margin-right: 0;
    }

    .banner-shop__link {
      height: 100%;

      @media screen and (max-width: 580px){
        width: 100%;
        display: block;
      }
    }
  }

  &__right {
    width: 33.33%;
    @media screen and (max-width: 580px){
      width: 100%;
    }

    .banner-shop__link {
      display: block;
      height: calc((100% - 2rem) / 2);
      
      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    position: relative;
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;

    &--left{
      height: 100%;
    }

    &--right{
      width: 100%;
      
    }
  }

  &__img-name {
    color: #9f9f9f;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $font-proxima;
    font-size: .9rem;
    word-spacing: 2.4px;
    letter-spacing: .2px;
    position: absolute;


   &--right{
    top: 3.4rem;
    left: 3rem;

  }

   &--left {
     top: 3.4rem;
     left: 3rem;
   }
  }
}

// STOCKISTS

.stockists {
  margin-top: 12rem;
  
  @media screen and (max-width: 580px){
    margin-top: 4rem;
  }
}

.stockists-list {
  margin-top: 7.9rem;

  @media screen and (max-width: 580px){
    margin-top: 4.5rem;
  }

  &__row {  

 }
}


.stockist {

  margin-bottom: 4rem;

  @media screen and (max-width: 580px){
    margin-bottom: 2rem;
  }

  &__heading {
    font-family: $font-din;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__address {
    font-family: $font-proxima;
    color: #999;
    font-size: 1.08rem;
  }

  &__contact {
    font-family: $font-proxima;
    color: #999;
    font-size: 1rem;
  }
}


// FAQ

.faqs{
  margin-top: 12rem;

  @media screen and (max-width: 580px){
    margin-top: 4rem;
  }
}

.faq-box {
  margin-top: 7.9rem;

  @media screen and (max-width: 580px){
    margin-top: 4.5rem;
  }
}

.faq{

  margin-bottom: 4rem;
  @media screen and (max-width: 580px){
    margin-bottom: 2rem;
  }
  

  &__question{
    font-family: $font-din;
    font-weight: 800;
    font-size: 1.74rem;
    word-spacing: -1px;
    text-transform:  uppercase;
    margin-bottom: 2rem;
    color: #333;
  }

  &__answer {
    @media screen and (max-width: 580px){
      margin-bottom: 2rem;
    }
  }
}


// BLOG

.blog {

  &:not(:last-child){
    margin-bottom: 11rem;
  }
  
  &:first-of-type {
    margin-top: 7.9rem;

    @media screen and (max-width: 580px){
      margin-top: 4.5rem;
    }
  }

  &__date{
    color: #9f9f9f;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    word-spacing: 2.4px;
    letter-spacing: .2px;
    text-align: center;
  } 

  &__heading{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 800;
    font-size: 1.8rem;
    word-spacing: -1px;
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
    margin: 2.2rem 0 1.6rem;
    text-transform: uppercase;
  }

  &__text {
    padding: 0 14%;
    word-break: break-all;
    
    @media screen and (max-width: 580px){
      padding : 0;

    }
  }
}

// SHOPPING

.shopping-card {

  padding: 0 7rem;
  display: flex;
  margin-top:11.7rem;
  position: relative;

  @media screen and (max-width: 940px){
    padding: 0 5rem;
  }

  @media screen and (max-width: 580px){
    flex-direction: column;
    padding: 0 2.6rem;
    margin-top: 9rem;
  }

  &__left {
    flex-basis: 40%;
    padding-right: 4rem;

    @media screen and (max-width: 940px){
      flex-basis: 50%;
    }

    @media screen and (max-width: 700px){
      flex-basis: 60%;
    }

    @media screen and (max-width: 580px){
      order: 2;
      margin-top: .4rem;
    }

  }

  &__right{
    flex-basis: 60%;

    @media screen and (max-width: 940px){
      flex-basis: 50%;
    }

    @media screen and (max-width: 700px){
      flex-basis: 40%;
    }

    @media screen and (max-width: 580px){
      order: 1;
    }
  }

  &__nav {

  }

  &__heading {
    color: #222;
    font-family: $font-din;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 600;
    word-spacing: -2px;
  }

  &__price {
    color: #9f9f9f;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    word-spacing: 2.4px;
    letter-spacing: .2px;
    margin: 1.4rem 0 2rem;

  }

  &__text {

  }

  &__control {
    margin: -1rem 0 1.8rem;
  }

  &__label {
    color: #9f9f9f;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    word-spacing: 2.4px;
    letter-spacing: 1.2px;
  }

  &__input {
    border: 2px solid rgba(238,238,238,0);
    background-color: #f6f6f6;
    width: 7.6rem;
    height: 3.6rem;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .1pc;
    text-transform: uppercase;
    color: rgba(82,82,82,.7);
    padding: 0rem 1.2rem;

    &:focus {
      outline: none;
    }
  }

  &__btn{
    padding: 2.1rem 4.2rem;
    font-size: .95rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    width: 165.7px;
    color: #222;

    &:hover {
      color: white;
    }
  }

  &__img {
    width: 100%;
  }
}

.shopping-card-nav{
  margin-bottom: 3rem;
  position: absolute;
  top: -6.5rem;

  @media screen and (max-width: 580px){
    top: -6.3rem;
  }

  a {
    text-decoration: none;
  }

  // &__carrot {
  //   display: none;
  // }

  // // &__vanilla {
  // //   display: none;
  // // }

  // &__orange{
  //   display: none;
  // }

  &__chevron, &__text, &__separator {
    color: rgba(82,82,82,.7);
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: .76rem;
    word-spacing: 2.4px;
    letter-spacing: .2px;
    word-spacing: 2.4px;
    letter-spacing: 1.2px;
  }

   &__chevron {
     font-size: .9rem;
   }

   &__separator{
     font-size: .7rem;
     display: inline-block;
     margin: 0 .2rem;
   }

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
